name = "ArgTools"
uuid = "0dad84c5-d112-42e6-8d28-ef12dabb789f"
authors = ["Stefan Karpinski <stefan@karpinski.org> and contributors"]
version = "1.1.1"

[compat]
julia = "1.3"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
